.progress {
    height: 0.2rem !important;
    width: 40%;
    margin: auto;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 12px;
}