<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="form-group row">
                <h3 class="float-left col-sm-2">Search: </h3>
                <div class="col-sm-10">
                    <input (keyup)="onSearchChange($event)" keyup type="text" class="form-control" placeholder="Find a person" name="search" [(ngModel)]="search">
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="users && loaded && users.length > 0" class="row animated fadeInUp fast">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{user.name}}</td>
                        <td>{{user.surname}}</td>
                        <td>
                            <i *ngIf="!isFriend(user.userId)" (click)="addFriend(user.userId)" class="fas fa-user-plus"></i>
                            <i *ngIf="isFriend(user.userId)" (click)="deleteFriend(user.userId)" class="fas fa-user-minus"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="(!users || users.length === 0) && loaded" class="alert alert-danger text-center" role="alert">
        <h5 class="alert-heading mb-3">No entries for search!</h5>
        <i class="fas fa-exclamation-triangle fa-2x"></i>
    </div>

    <div *ngIf="!loaded" class="alert alert-success text-center" role="alert">
        <h4 class="alert-heading">Loading users</h4>
        <p>Wait untill all users are loaded.</p>
        <hr>
        <i class="mb-0 fas fa-spinner fa-2x fa-spin"></i>
    </div>

</div>