<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/home']">Notes App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/home']"><i class="far fa-clipboard"></i> Notes</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/note', 'new']"><i class="fas fa-plus-circle"></i> Add Note</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/social']"><i class="fas fa-users"></i> Social</a>
            </li>
        </ul>
        <div class="my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/profile']">
                        <i *ngIf="!userInfo.img" class="far fa-user-circle"></i><img *ngIf="userInfo.img" class="img-responsive img-thumbnail rounded-circle" [src]="userInfo.img"> {{ userInfo.name }}
                    </a>
                </li>
                <li class="nav-item my-auto" routerLinkActive="active">
                    <a class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()"><i class="fas fa-sign-out-alt"></i> LogOut</a>
                </li>
            </ul>
        </div>
    </div>
</nav>